.list-item {
    margin: 10px 0;
    background-color: lightgray;
}

.item-content {
    padding: 10px;
}

.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.author {
    flex-grow: 1;
}

.item-footer {
    display: flex;
    background-color: rgb(50, 50, 194);
    color: white;
}