.sidebar, .scroll-to-top-btn, .header {
    display: none;
}

.product-list {
    justify-content: center;    
}

.products-category-header {
    text-align: center;
}

.product-details .btn {
    border: 1px solid black;
    color: black;
}